<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs%>
</head>
<body>
  <div class="container">
    <div class="row d-flex justify-content-center" style="margin-top: 20px">
      <a border="0" href="auth/start"><img src='images/logo.jpg' width="70%" class="center"></img></a>
    </div>
    <div class="d-flex justify-content-center font-weight-bold" style="margin-top: 20px;border-bottom:1px solid">
      <a border="0" href="auth/start" style="color: #000">
        <h4 class="font-weight-bold" style="text-align:center">SysHomes: Smartify Your Sweet Homes</h4>
      </a>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 20px;">
      <h6><a href="why/level1" style="color:green" class="font-weight-bold">Why SysHomes?</a></h6>
    </div>
    <div class="d-flex justify-content-center font-weight-bold" style="margin-top: 0px;">
      <h6><a href="what_promise" style="color:green" class="font-weight-bold">What is our Promise?</a></h6>
    </div>
  </div>
  <div style="padding-top:20px;">
    <% include footer.ejs %>
  </div>
</body>
</html>
