<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs%>
</head>

<body>
  <div id="body" class="container">
    <div class="row" style="margin-top: 30px;"">
      <a border="0" href="/home"><img src='images/trans_logo.jpg' class="center"></img></a>
    </div>
  </div><!-- /.container -->
</body>
</html>
