<!DOCTYPE html>
<html lang="en">

<head>
    <%  include head.ejs %>
    <%  if(message == null || message == 'undefined')
          message = '';
console.log("In signup: " + message);
    %>
    <title>Sign Up</title>
</head>

<script type="text/javascript">
 function enable() {
   document.getElementById("next").disabled = false;
   document.getElementById("next").classList.remove("btn-secondary");
   document.getElementById("next").classList.remove("disabled");
   document.getElementById("next").classList.add("btn-dark");
 }
 function cancel() {
   var parent = document.getElementById("holder");
   var child = document.getElementById("form");
   parent.remove(child);
   window.location.href = "home";
 }
 function signup() {
   document.getElementById("form").action = "/signup";
   submit();
 }
</script>

<body>
  <div id="holder">
    <header>
      <div class="d-flex justify-content-center font-weight-bold" style="border-bottom:4px solid ">
        <h2 class="font-weight-bold"><%=message %></h2>
      </div>
    </header>

    <form id="form" action='/credential' method="post">
    <div id="body" class="container">
      <div class="row" style="margin-top: 30px;font-size:small; ">
          <label for="basic-url">Username (Phone number or email address)</label>
          <input type="text" class="form-control" style="border-bottom:1px solid "
          name="username" value="" onclick="javascript: enable();">
      </div>
      <div class="row d-flex justify-content-center" style="margin-top: 30px;font-size:small">
        <img src='images/qr-code.png' align="center" width="30%" height="30%"></img>
      </div>
    </div><!-- /.container -->

    <footer style="margin-bottom: 3px;">
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-dark btn-lg font-weight-bold"
                        style="font-size:medium; border-radius: 22px; width: 120px; margin-right: 10px;"
                        tabindex="-1" role="button" onclick="cancel();">Cancel</button>
            <button class="btn btn-secondary btn-lg font-weight-bold disabled" id="next"
                        style="font-size:medium; border-radius: 22px; width: 120px;"
                        tabindex="-1" role="button" disabled onclick="signup();">Next</button>
        </div>
      </footer>
    </form>
<!--
        <button type="button" class="btn btn-dark" style="width: 100px;">Sign up</button>
        <button type="button" class="btn btn-dark"  style="width: 100px;" disabled>Next</button>

        <button type="button" class="btn btn-dark">Retry</button>
        <button type="button" class="btn btn-light">Next</button>
-->
  </div>
</body>
</html>
