<!DOCTYPE html>
<html lang="en">
<head>
<link href="/css/radio.css" type="text/css" rel="stylesheet">
<script type="text/javascript">
var menu_display = "none";
function show_menu() {
  if(menu_display == "none") {
    document.getElementById("menu").style.display = 'inline';
    document.getElementById("navbarNav").style.display = 'none';
    document.getElementById("container").style.display = 'none';
    document.getElementById("footer").style.display = 'none';
    menu_display = "visible";
  }
  else {
    document.getElementById("menu").style.display = 'none';
    document.getElementById("navbarNav").style.display = 'inline';
    document.getElementById("container").style.display = 'inline';
    document.getElementById("footer").style.display = 'inline';
    menu_display = "none";
  }
// alert(menu_display)
}
function close_menu() {
// alert(menu_display)
  if(menu_display == "visible") {
    document.getElementById("menu").style.display = 'none';
    document.getElementById("navbarNav").style.display = 'inline';
    document.getElementById("container").style.display = 'inline';
    document.getElementById("footer").style.display = 'inline';
    menu_display = "none";
  }
}
function save_concern(name, value) {
  window.location.href = 'why/concern?value=' + value;
}
</script>
<% include ../session.ejs%>
<% include ../head.ejs%>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
crossorigin='anonymous'>
</head>
<body>
<% include header.ejs%>
<div id="container" style="background-color: #fff;margin:10px;padding-top:40px;">
  <div class="text-center" style="font-size:16px;padding-bottom:30px;">
    <div class="p-1">
      <p><strong>What are you concerned most for upgrading to a smart home?</strong></p>
    </div>
  </div>
    <div class="modal-content mx-auto" style="max-width:400px;border: 0px;">
      <div class="quiz" id="quiz" data-toggle="buttons">
         <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label">
           <i class='fas fa-angle-right align-middle' style='font-size:36px'></i></span>
           <input type="hidden"><a onclick="javascript:save_concern('concern', 'Overall cost is too high');">
           Overall cost is too high</a></label>
         <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label">
           <i class='fas fa-angle-right' style='font-size:36px'></i></span>
           <input type="hidden"><a onclick="javascript:save_concern('concern', 'Devices are not compatible');">
           Devices are not compatible</a></label>
         <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label">
           <i class='fas' style='font-size:36px'>&#xf105;</i></span>
           <input type="hidden"><a onclick="javascript:save_concern('concern', 'Not easy to set up');">
           Not easy to set up</a></label>
         <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label">
           <i class='fas' style='font-size:36px'>&#xf105;</i></span>
           <input type="hidden"><a onclick="javascript:save_concern('concern', 'No privacy');">
           No privacy</a></label>
      </div>
    </div>
</div>

<script src="/lib/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
<script src="/lib/bootstrap/js/popper.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- [170] CSS Animated Hamburger Icon
<script type="text/javascript">
document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
  this.classList.toggle( "active" );
});
</script> -->
</body>
<footer>
  <% include ../footer.ejs%>
</footer>
</html>
