<%
var username = '';
console.log("!!!user.name=" + user.name)
if(user.name)
  username = user.name.split('@')[0];
%>
<script type="text/javascript">
var current = 'Home';
function toggle_active(current) {
  if(current == 'Home') {
    document.getElementById("home").classList.add("active");
    document.getElementById("profile").classList.remove("active");
    document.getElementById("messages").classList.remove("active");
    document.getElementById("settings").classList.remove("active");
    document.getElementById("switch").classList.remove("active");
    document.getElementById("about").classList.remove("active");
  }
  else if(current == 'Profile') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("profile").classList.add("active");
    document.getElementById("messages").classList.remove("active");
    document.getElementById("settings").classList.remove("active");
    document.getElementById("switch").classList.remove("active");
    document.getElementById("about").classList.remove("active");
  }
  else if(current == 'Messages') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("profile").classList.remove("active");
    document.getElementById("messages").classList.add("active");
    document.getElementById("settings").classList.remove("active");
    document.getElementById("switch").classList.remove("active");
    document.getElementById("about").classList.remove("active");
  }
  else if(current == 'Settings') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("profile").classList.remove("active");
    document.getElementById("messages").classList.remove("active");
    document.getElementById("settings").classList.add("active");
    document.getElementById("switch").classList.remove("active");
    document.getElementById("about").classList.remove("active");
  }
  else if(current == 'Switch') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("profile").classList.remove("active");
    document.getElementById("messages").classList.remove("active");
    document.getElementById("settings").classList.remove("active");
    document.getElementById("switch").classList.add("active");
    document.getElementById("about").classList.remove("active");
    window.location.href = 'auth/home';
  }
  else if(current == 'About') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("profile").classList.remove("active");
    document.getElementById("messages").classList.remove("active");
    document.getElementById("settings").classList.remove("active");
    document.getElementById("switch").classList.remove("active");
    document.getElementById("about").classList.add("active");
  }
}
function signout() {
  window.location.href = "auth/logout";
}
</script>

<nav class="navbar sticky-top navbar-expand-lg navbar-light" id="navbarNav">
  <a href="/" class="navbar-brand">
    <img src="images/logo.jpg" width="40" height="40" alt="">
    <span style="font-size:20px" class="aliagn-bottom"><b> &nbsp; SmartHub &nbsp; </b></span>
  </a>
  <button class="navbar-toggler" type="button" style="border-color: rgb(255,255,255);" onclick="show_menu();">
  <!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          id="nav-toggle" style="border-color: rgb(255,255,255);">
  -->
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse topnav" style="float: right">
    <ul class="navbar-nav" style="font-size:16px;">
      <li class="nav-item">
        <a class="nav-link active" id="home" onclick='javascript:toggle_active("Home");'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile" onclick='javascript:toggle_active("Profile");'>Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="messages" onclick='javascript:toggle_active("Messages");'>Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="settings" onclick='javascript:toggle_active("Settings");'>Settings</a>
<!-- dropdown
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
-->
      </li>
      <li class="nav-item">
        <a class="nav-link" id="switch" onclick='javascript:toggle_active("Switch");'>Switch User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" id="about" onclick='javascript:toggle_active("About");'>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Signout</a>
      </li>
    </ul>
  </div>
</nav>


<div style="display:none; position: relative; width:100%; margin:0px; padding:0px;" id="menu">
  <div style="margin:0px; padding-bottom:20px; border-bottom:2px solid; border-color:lightgrey">
    <span class="font-weight-bold" style="font-size:20px;"><%=username %></span>
    <a href="javascript:close_menu();" style="float: right"><img src="images/icons8-delete-32.png"></a>
  </div>
  <div style="margin-bottom:100px">
  <ul class="navbar-nav" style="font-size:16px;margin:0px; padding:10px; ">
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#">
      <span style="color:black;">Home</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#">
      <span style="color:black;">Profile1</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#">
      <span style="color:black;">Messages</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#">
      <span style="color:black;">Settings</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="auth/home">
      <span style="color:black;">Switch User</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#">
      <span style="color:black;">About</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
  </ul>
  </div>
  <div class="d-flex justify-content-center">
      <button class="btn btn-outline-dark btn-lg font-weight-bold"
                  style="font-size:medium; border-radius: 22px; width: 120px; margin-right: 10px;"
                  tabindex="-1" role="button" onclick="signout();">Sign Out</button>
      <a class="nav-link" href="/auth/feedback">Feedback</a>
  </div>
</div>
