<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
var menu_display = "none";
function show_menu() {
  if(menu_display == "none") {
    document.getElementById("menu").style.display = 'inline';
    document.getElementById("navbarNav").style.display = 'none';
    document.getElementById("container").style.display = 'none';
    document.getElementById("footer").style.display = 'none';
    menu_display = "visible";
  }
  else {
    document.getElementById("menu").style.display = 'none';
    document.getElementById("navbarNav").style.display = 'inline';
    document.getElementById("container").style.display = 'inline';
    document.getElementById("footer").style.display = 'inline';
    menu_display = "none";
  }
// alert(menu_display)
}
function close_menu() {
// alert(menu_display)
  if(menu_display == "visible") {
    document.getElementById("menu").style.display = 'none';
    document.getElementById("navbarNav").style.display = 'inline';
    document.getElementById("container").style.display = 'inline';
    document.getElementById("footer").style.display = 'inline';
    menu_display = "none";
  }
}
</script>
<% include ../session.ejs%>
<head>
    <% include ../head.ejs%>
</head>
<body>
<% include header.ejs%>

<div id="container" style="background-color: #ddd;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item ">
      <button type="button" class="list-group-item list-group-item-action active">
        Rooms
      </button>
      <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button type="button" class="list-group-item list-group-item-action">
        Scenes
      </button>
      <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button type="button" class="list-group-item list-group-item-action">
        Devices
      </button>
      <span class="badge badge-primary badge-pill">0</span>
    </li>
  </ul>
</div>

<script src="/lib/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
<script src="/lib/bootstrap/js/popper.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- [170] CSS Animated Hamburger Icon
<script type="text/javascript">
document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
  this.classList.toggle( "active" );
});
</script> -->
</body>
<footer>
  <% include ../footer.ejs%>
</footer>
</html>
