<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../head.ejs%>
</head>

<body>
<% include header.ejs%>

<div class="container">

  <ul class="list-group list-group-flush">
    <li class="list-group-item ">
      <button type="button" class="list-group-item list-group-item-action active">
        Rooms
      </button>
      <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button type="button" class="list-group-item list-group-item-action">
        Scenes
      </button>
      <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button type="button" class="list-group-item list-group-item-action">
        Devices
      </button>
      <span class="badge badge-primary badge-pill">0</span>
    </li>
  </ul>


</div><!-- /.container -->

<% include ../footer.ejs%>

</body>
</html>
