
<div id="footer">
  <div class="container" style="max-width: 720px;margin: 0 auto;width: 100%;">
    <div class="row" style="padding: 10px; background-color: #003366;">
        <div class="col-4">
          <a href="apps/level2?i=0&level1=Rooms">
            <img class="mx-auto d-block" width="30" src='images/Rooms.jpg'></img>
          </a>
        </div>
        <div class="col-4">
          <a href="apps/level2?i=1&level1=Scenes">
            <img class="mx-auto d-block" width="30" src='images/Scenes.jpg'></img>
          </a>
        </div>
        <div class="col-4">
          <a href="apps/level2?i=2&level1=Devices">
            <img class="mx-auto d-block" width="30" src='images/Devices.jpg'></img>
          </a>
        </div>
    </div>
  </div>
</div>
