<div id="navbar navbar-default navbar-static-bottom navbar-fixed-bottom">
    <div class="container" style="max-width: 600px;margin: 0 auto;width: 100%;">
    <div class="row" style=" height: 40px; width: 100%;">
      <div class="col-4" style="font-size: 16px; background-image: url(images/rose.jpg); padding-top: 10px; text-align: center;">
        <a href="apps/package?package=rose">
          <span class="badge badge-primary badge-pill">$500+</span>
        </a>
      </div>
      <div class="col-4" style="font-size: 16px; background-image: url(images/gold.jpg); padding-top: 10px; text-align: center;">
        <a href="apps/package?package=gold">
          <span class="badge badge-primary badge-pill">$2000+</span>
        </a>
      </div>
      <div class="col-4" style="font-size: 16px; background-image: url(images/platinum.jpg);padding-top: 10px; text-align: center;">
        <a href="apps/package?package=platinum">
          <span class="badge badge-primary badge-pill">$5000+</span>
        </a>
      </div>
    </div>
  </div>
</div>
