<!DOCTYPE html>
<html lang="en">

<head>
    <% include head.ejs %>
    <title><%= user %></title>
    <% var msg = "Enter your password.";
       if(message)
        msg = message;
    %>
</head>

<body>
  <div id="holder">
    <header>
      <div class="d-flex justify-content-center font-weight-bold" style="border-bottom:4px solid ">
        <h2 class="font-weight-bold"><%=msg %></h2>
      </div>
    </header>

    <form action="/auth/credential" method="post">
    <div id="body" class="container">
      <div class="row disabled" style="margin-top: 30px;font-size:small;">
          <label for="basic-url">Username (Phone number or email address)</label>
          <input type="text" class="form-control" style="border-bottom:1px solid "
                 name="username" value="<%=user %>">
          <input type="hidden" name="type" value=<%=type %>>
      </div>
      <div class="row" style="margin-top: 30px;font-size:small; ">
          <label for="basic-url">Password</label>
          <input type="password" class="form-control" style="border-bottom:1px solid " name="password">
      </div>
      <div class="row" style="margin-top: 30px;font-size:small;">
          <input type="checkbox" name="remember" autocomplete="off"> &nbsp;Remember me
      </div>
      <div class="row d-flex justify-content-center" style="margin-top: 30px;font-size:small">
        <img src='images/qr-code.png' align="center" width="30%" height="30%"></img>
      </div>
    </div><!-- /.container -->

    <footer style="margin-bottom: 3px;">
        <div class="d-flex justify-content-center">
            <button class="btn btn-secondary btn-lg font-weight-bold"
                    style="font-size:medium; border-radius: 22px; width: 120px;"
                    tabindex="-1" role="button" onclick="submit();">Sign In</button>
        </div>
      </footer>
      </form>
  </div>
</body>
</html>
